* {
  font-family: "Single Day", cursive;
  color: green;
  font-weight: 200;
}

:root {
  --green: rgb(183, 235, 183);
  --black: rgb(67, 63, 63);
  --dark-grey: rgb(45, 45, 45);
  --light-grey: rgb(200, 200, 200);
}

body.dark-mode {
  --green: var(--dark-grey);
  --black: var(--light-grey);
  background-color: var(--green);
  color: var(--black);
}

.recording,
.main-element,
.recipe-section-headline,
.picture-section-headline,
.allergies,
.cusine-options button,
.want-another-recipe,
button,
.take-picture,
.send-to-user-inbox-btn,
.send-to-user-inbox,
.try-again-btn,
.gpt-response,
.slider,
input:checked+.slider {
  background-color: var(--green);
  color: var(--black);
}

body.dark-mode .recording,
body.dark-mode .main-element,
body.dark-mode .recipe-section-headline,
body.dark-mode .picture-section-headline,
body.dark-mode .allergies,
body.dark-mode .cusine-options button,
body.dark-mode .want-another-recipe,
body.dark-mode button,
body.dark-mode .take-picture,
body.dark-mode .send-to-user-inbox-btn,
body.dark-mode .send-to-user-inbox,
body.dark-mode .try-again-btn,
body.dark-mode .gpt-response,
body.dark-mode .slider,
body.dark-mode input:checked+.slider {
  background-color: var(--dark-grey);
  color: var(--light-grey);
}

body.dark-mode .slider:before {
  background-color: var(--light-grey);
}





.parent-container {
  height: 100vh;
  width: 500px;
  border: red 1px solid;
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.recording {
  width: 50%;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: auto;
  background-color: var(--green);
  border-radius: 5px;
  padding: 10px;
  display: none;
}


.speed-wrapper {
  display: flex;
}

#speed {
  margin-left: 10px;

}

.main-element {
  overflow: scroll;
  min-height: 100vh;
  width: 100%;
  max-width: 500px;
  border: black 3px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url("./image/Designer_2.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./image/Designer_2.png");
  background-size: cover;
  background-color: rgb(67, 63, 63);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.parent-container {
  position: relative;
}

.wrapper {
  width: 100%;
  /* Match the width of the parent */
  max-width: 500px;
  /* Match the max-width of .main-element */
  height: 200vh;
  overflow-y: scroll;
  display: flex;
  /* border: 10px blue solid; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.recipe-section {
  height: 100vh;
}


.ingredient {
  text-align: center;
}

.preserve-line-breaks {
  white-space: pre-line;
  /* text-align: left; */
}



main {
  z-index: 1;
  background: transparent;
}


.test {
  position: absolute;
  z-index: 0;
  height: 605px;
  width: 420px;
  top: 360px;
  left: 50%;
  transform: translate(-50%, -50%);
}



/* .fa-paper-plane {
  background-color: white;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .fa-microphone {
  height: 30px;
  width: 30px;
} */


#background-img {
  z-index: -2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 500px;
  min-height: 100vh;
  border-radius: 5%;
  border: 2px solid black;
  background-image: url("./image/Designer_2.png");
  background-size: cover;
  background-position: center;
  
}



.headline,
.recipe-section-headline,
.picture-section-headline {
  /* text-wrap: balance; */
  text-align: center;
  background-color: var(--green);
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  transition: background-color 0.5s ease;
}

.allergies {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
  margin-top: 40px;
  background-color: var(--green);
  margin-left: 10px;
  transition: background-color 0.5s ease;
}

.cusine-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 80px;
}



.want-another-recipe,
button,
.take-picture {
  text-transform: uppercase;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: var(--green);
  transition: background-color 0.5s ease;
}

/* .take-picture {
  display: hidden;
} */

.send-to-user-inbox-btn,
.send-to-user-inbox {
  text-transform: uppercase;
  height: 20px;
  margin-right: 10px;
  margin-left: 0px;
  border-radius: 5px;
  background-color: var(--green);
  transition: background-color 0.5s ease;
}

.send-recipe-to-user-inbox,
.email-recipe,
.want-another-recipe,
.previous-page {
  width: 170px;
  margin: auto;
  display: none;
}

.email-section,
.picture-email-section {
  width: 170px;
  display: none;
  grid-template-columns: 2fr 1fr;
  margin: auto;
}

.picture-email-section {
  margin-top: -21px;
}



.try-again-btn {
  text-transform: uppercase;
  height: 40px;
  border-radius: 5px;
  background-color: var(--green);
  transition: background-color 0.5s ease;
  display: none;
  margin: auto;
  margin-top: 20px;
  width: fit-content;
}

.gpt-response {
  /* text-wrap: balance; */
  height: 200px;
  overflow: scroll;
  text-align: center;
  background-color: var(--green);
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  transition: background-color 0.5s ease;
  margin-top: 260px;
  margin-bottom: 20px;
  /* display: none; */
  display: hidden;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block;
  width: 60px;
  height: 34px;
  margin: 10px auto;
}


/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--green);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked+.slider {
  background-color: var(--black);
  transition: background-color 0.5s ease;
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--green);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Loading indicator */

/* #loading-container { */
/* display: none; */
/* justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  min-height: 100vh;
  width: 100%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
/* } */


#loading-indicator {
  border: 5px solid transparent;
  border-top: 5px solid rgb(73, 180, 87);
  border-bottom: 5px solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.6s linear infinite;
  margin: auto;
}

#loading-text {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

.off {
  display: none;
}

.legend {
  /* background: var(--green) */
  background-color: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 768px) {
  .main-element {
    width: 100%;
    /* Adjusted width for smaller screens */
    max-width: none;
  }
}






/* picture-section*/


.take-picture {
  width: 170px;
  margin-top: -24px;
}

.background-img-picture-section {
  z-index: -2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 500px;
  min-height: 100vh;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid rgb(54, 49, 49);
  background-image: url("./image/Designer_8.png");
  background-size: cover;
  background-position: center;
}





.chat-gpt-vision-text {
  height: fit-content;
  /* overflow: scroll; */
  overflow-y: scroll;
  text-align: center;
  background-color: var(--green);
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  transition: background-color 0.5s ease;
  margin-bottom: 20px;
  margin-top: -71px;
  display: hidden;
}


.want-to-take-a-picture {
  position: absolute;
  bottom: 265px;
}

.picture-section {
  align-items: center;
  position: relative;
  height: 100vh;
  width: 501px;
  /* border: 1px black solid; */
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  overflow: hidden;
}

.video-btn-canvas {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}

.video {
  height: 300px;
  width: 300px;
  margin-top: -50px;
  /* border: 1px solid;
  border-radius: 5px; */
}

.canvas {
  height: 300px;
  width: 300px;
  border-radius: 5px;
}

.previous-page {
  margin-top: 44px;
}



.container {
  width: 100%;
  max-width: 500px;
  height: 100%;
  position: relative;
  margin: 0 auto;
}

.menu-icon {
  height: 3rem;
  width: 3rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  z-index: 200;
  left: auto;
  margin-right: calc(50% - 250px);
  background-color: transparent;
  color: black;
}

.menu-icon .line {
  width: 3rem;
  height: 0.2rem;
  background-color: black;
  transition: transform 0.3s;
}

.menu-icon.change .line-1 {
  transform: rotateZ(45deg) translate(0.7rem, -0.1rem);
}

.menu-icon.change .line-2 {
  transform: rotateZ(-45deg) translate(0.7rem, -0.1rem);
}


.line {
  width: 3rem;
  height: 0.2rem;
  background-color: #bbb;
  transition: transform 0.3s;
}

.change .line-1 {
  transform: rotateZ(45deg) translate(0.7rem, -0.1rem);
}

.change .line-2 {
  transform: rotateZ(-45deg) translate(0.7rem, -0.1rem);
}

.navigation {
  position: absolute;
  top: 0px;
  right: 0px;
  /* transform: translateX(-50%); */
  width: 50%;
  height: 200vh;
  /* Updated height to match the wrapper/container */
  background-color: var(--green);
  z-index: 100;
  display: none;
  align-items: center;
  padding-left: 1rem;
  border-radius: 1px;
  border: black 3px solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  
}

.change .navigation {
  display: flex;
}

.wrapper {
  width: 100%;
  max-width: 500px;
  height: 200vh;
  overflow-y: scroll;
  display: flex;
  /* border: 10px blue solid; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  /* transform: rotateZ(-15deg); */
  transition: all 1s;
}

.nav-items {
  display: flex;
  flex-direction: column;
  opacity: 1;
  visibility: visible;
}

.nav-items a {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: var(--black);
  margin: 1rem 0;
  transition: color 0.3s, text-decoration 0.3s;
}

.nav-items a:hover {
  color: darkgreen;
  text-decoration: underline;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .menu-icon {
    right: 2rem;
    margin-right: 0;
  }

  .navigation {
    left: 56%;
    transform: translateX(-50%) translateY(-20px);
    width: 100%;
    max-width: 340px;
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 1s ease-in;
}

/* 
@media (orientation: landscape) {
  body {
    flex-direction: row;
  }
  .navigation {
    transform: translateX(-10%) translateY(-20px);
  }
  .main-element {
    overflow: hidden;
  }
} */