* {
  font-family: "Single Day", cursive;
  color: green;
  font-weight: 200;
}

:root {
  --green: rgb(183, 235, 183);
  --black: rgb(67, 63, 63);
}

.parent-container {
  height: 100vh;
  width: 100vw;
}

.recording {
  width: 50%;
  height: fit-content;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  margin: auto;
  background-color: var(--green);
  border-radius: 5px;
  padding: 10px;
  display: none;
}




.speed-wrapper {
  display: flex;
}

#speed {
  margin-left: 10px;

}

.main-element {
  overflow: scroll;
  min-height: 100vh;
  width: 100%;
  max-width: 500px;
  border: black 3px solid;
  border-radius: 5%;
  background-image: url("./image/Designer_2.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./image/Designer_2.png");
  background-size: cover;
  background-color: rgb(67, 63, 63);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: 0 auto;
}

.preserve-line-breaks {
  white-space: pre-line;
  /* text-align: left; */
}

.parent-container {
  position: relative;
}

main {
  z-index: 1;
  background: transparent;
}


.test {
  position: absolute;
  z-index: 0;
  height: 605px;
  width: 420px;
  top: 360px;
  left: 50%;
  transform: translate(-50%,-50%);
}



/* .fa-paper-plane {
  background-color: white;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* .fa-microphone {
  height: 30px;
  width: 30px;
} */


#background-img {
  z-index: -2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  max-width: 500px; 
  min-height: 100vh;
  border-radius: 5%;
  border: 2px solid black; 
  background-image: url("./image/Designer_2.png");
  background-size: cover;
  background-position: center;
}


h1 {
  /* text-wrap: balance; */
  text-align: center;
  background-color: var(--green);
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  transition: background-color 0.5s ease;
}

.allergies {
  display: flex;
  justify-content: space-between;
  width: fit-content;
  height: fit-content;
  margin-top: 40px;
  background-color: var(--green);
  margin-left: 10px;
  transition: background-color 0.5s ease;
}

.cusine-options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 80px;
}

.want-another-recipe,
button {
  text-transform: uppercase;
  height: 40px;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: var(--green);
  transition: background-color 0.5s ease;
}

.send-to-user-inbox-btn {
  text-transform: uppercase;
  height: 20px;
  margin-right: 10px;
  margin-left: 0px;
  border-radius: 5px;
  background-color: var(--green);
  transition: background-color 0.5s ease;
}

.send-recipe-to-user-inbox,
.want-another-recipe {
  width: 170px;
  margin: auto;
  display: none;
}

.email-section {
  width: 170px;
  display: none;
  grid-template-columns: 2fr 1fr;
  margin:auto;
}



.try-again-btn {
  text-transform: uppercase;
  height: 40px;
  border-radius: 5px;
  background-color: var(--green);
  transition: background-color 0.5s ease;
  display: none;
  margin: auto;
  margin-top: 20px;
  width: fit-content;
}

.gpt-response {
  /* text-wrap: balance; */
  height: 200px;
  overflow: scroll;
  text-align: center;
  background-color: var(--green);
  border-radius: 5px;
  margin-left: 10px;
  margin-right: 10px;
  transition: background-color 0.5s ease;
  margin-top: 260px;
  margin-bottom: 20px;
  display: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: block; 
  width: 60px;
  height: 34px;
  margin: 10px auto; 
}


/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--green);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--black);
  transition: background-color 0.5s ease;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--green);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Loading indicator */

#loading-container {
  /* display: none; */
  /* justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  min-height: 100vh;
  width: 100%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}


#loading-indicator {
  border: 5px solid transparent;
  border-top: 5px solid rgb(73, 180, 87);
  border-bottom: 5px solid rgb(0, 0, 0);
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1.6s linear infinite;
  margin:  auto;
}

#loading-text {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
}

.off {
  display: none;
}

.legend {
  /* background: var(--green) */
  background-color: white;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 768px) {
  .main-element {
    width: 100%; /* Adjusted width for smaller screens */
    max-width: none;
  }
}